body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.main-header-logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 72px;
}
.main-navigation{
  min-height: 56px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-navigation a{
  color: #000000;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation .site-navigation-current{
  color: #766357;
}
.site-navigation li{
  width: 240px;
  text-align: center;
}
.site-navigation li:nth-child(3){
  margin-left: auto;
}
.index-background-fhoto{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3e79a3;
  background-image: url("../img/background_photo.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
  height: 510px;
  margin-bottom: 60px;
}
.welcome-background{
  margin-top: 75px;
  background-image: url("../img/intro-welcome.svg");
  background-position: top center;
  background-repeat: no-repeat;
  height: 353px;
  width: 459px;
}
.index-background-mask{
  margin-top: auto;
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
  background-image: url("../img/intro-mask.svg");
}
.heading-features{
  text-align: center;
  line-height: 26px;
  margin-bottom: 56px;
}
.heading-features h2{
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 35px;
}
/* Временно для красоты */
.features{
  background-color: #81b3d2;
  min-height: 1100px;
  margin-bottom: 54px;
}
.hotel-search-offer{
  line-height: 24px;
  text-align: center;
}
.hotel-search-offer b{
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}
.hotel-search-offer p{
  margin-bottom: 50px;
}
.button-open-form{
  font: inherit;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.button-open-form:hover{
  background-color: #604e43;
}
.button-open-form:active{
  color: rgba(255, 255, 255, 0.7);
  background-color: #503e33;
}

.index-map{
  background-image: url("../img/map.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  height: 593px;
  margin-bottom: -120px;
}
/* ФОРМА */
.idex-search-form{
  display: none;
}
.index-search-date,
.index-search-sum{
  text-align: center;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  line-height: normal;

}
.index-search-date input,
.index-search-sum input{
  font: inherit;
  text-align: center;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  line-height: normal;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.index-search-date input:active, :hover, :focus,
.index-search-sum input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.index-search-date input:hover,
.index-search-sum input:hover{
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.index-search-date input:active,
.index-search-sum input:active{
  background-color: #ffffff;
  border: 2px solid ##ebebeb;
}
.index-form-submut{
  font: inherit;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.index-form-submut:hover{
  background-color: #669ec0;
}
.index-form-submut:active{
  color: rgba(255, 255, 255, 0.7);
  background-color: #5496bd;
}
/* Футер */
.main-footer{
  height: 120px;
  background-color: rgba(249, 251, 246, 0.9);
}
.main-footer .container{
  display: flex;
}
/* Временно */
.hashtag,
.footer-social,
.footer-copyright{
  min-height: 50px;
}
.hashtag{
  padding-top: 47px;
  padding-left: 130px;
  margin: 0;
  margin-right: 255px;:
  width: 240px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: underline;
}
.footer-social{
  padding: 36px 0;
  width: 150px;
  text-align: center;
}
.footer-social ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social li{
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.footer-copyright{
  margin: 0;
  margin-left: auto;
  padding-top: 36px;
  padding-right: 90px;
  width: 240px;
  text-align: center;
}
.footer-copyright b{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/* стили Гостиницы */

.hotel-filer{
  background-color: #64696f;
  min-height: 304px;
}
.hotel-list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hotel-search-results{
  display: flex;
  padding: 30px 73px;
  min-height: 150px;
}
.hotel-preview-foto{
  margin-right: 30px;
  width: 135px;
}
.hotel-preview-info h3,
.hotel-preview-info p{
  margin: 0;
}
.button-detail{
  font: inherit;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.button-detail:hover{
  background-color: #669ec0;
}
.button-detail:active{
  color: rgba(255, 255, 255, 0.7);
  background-color: #5496bd;
}
.button-reservation{
  font: inherit;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.button-reservation:hover{
  background-color: #604e43;
}
.button-reservation:active{
  color: rgba(255, 255, 255, 0.7);
  background-color: #503e33;
}

.hotel-preview-info h3 a{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}
.hotel-preview-info h3 a:hover{
  color: #81b3d2;
}
.hotel-preview-info h3 a:active{
  color: rgba(0, 0, 0, 0.3);
}
.hotels-raiting-column{
  margin: auto;
  margin-right: 0;
}
.hotels-raiting-column ul{
  display: flex;
  justify-content: flex-end;
}
.hotel-rating{
  color: #666666;
  background-color: #f2f2f2;
}
