body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation{
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation{
  list-style-type: none;
}
.site-navigation a{
  color: #000000;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation .site-navigation-current{
  color: #766357;
}
.welcome-background{
  background-color: #3e79a3;
  background-image: url("../img/intro-welcome.svg"); /*  Временно  !!!!!!!!!!!!!!!!!! */
  background-position: top center;
  background-repeat: no-repeat;
  height: 510px;
}
.heading-features{
  text-align: center;
  line-height: 26px;
  height: 217px;
}
.heading-features h2{
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
/* Временно для красоты */
.features{
  background-color: #eeeeee;
  height: 1100px;
}
.hotel-search-offer{
  line-height: 24px;
  text-align: center;
}
.hotel-search-offer b{
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}
.button-open-form{
  font: inherit;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.button-open-form:hover{
  background-color: #604e43;
}
.button-open-form:active{
  color: rgba(255, 255, 255, 0.7);
  background-color: #503e33;
}
.index-search-date,
.index-search-sum{
  text-align: center;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  line-height: normal;
}
.index-search-date input,
.index-search-sum input{
  font: inherit;
  text-align: center;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  line-height: normal;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.index-search-date input:active, :hover, :focus,
.index-search-sum input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.index-search-date input:hover,
.index-search-sum input:hover{
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.index-search-date input:active,
.index-search-sum input:active{
  background-color: #ffffff;
  border: 2px solid ##ebebeb;
}
.index-form-submut{
  font: inherit;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.index-form-submut:hover{
  background-color: #669ec0;
}
.index-form-submut:active{
  color: rgba(255, 255, 255, 0.7);
  background-color: #5496bd;
}
/* Футер */
.main-footer{
  height: 120px;
  background-color: rgba(249, 251, 246, 0.9);
}
.hashtag{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: underline;
}
.footer-social{
  text-align: center;
}
.footer-social ul{
  list-style-type: none;
}
/* Временные стили для соцсетей */
.social-button{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}
.footer-copyright{
  text-align: center;
}
.footer-copyright b{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
/* стили Гостиницы */
.hotel-list ul{
  list-style-type: none;
}
.button-detail{
  font: inherit;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.button-detail:hover{
  background-color: #669ec0;
}
.button-detail:active{
  color: rgba(255, 255, 255, 0.7);
  background-color: #5496bd;
}
.button-reservation{
  font: inherit;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.button-reservation:hover{
  background-color: #604e43;
}
.button-reservation:active{
  color: rgba(255, 255, 255, 0.7);
  background-color: #503e33;
}

.hotel-preview-info h3 a{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}
.hotel-preview-info h3 a:hover{
  color: #81b3d2;
}
.hotel-preview-info h3 a:active{
  color: rgba(0, 0, 0, 0.3);
}
.hotel-rating{
  color: #666666;
  background-color: #f2f2f2;
}
